[submodule "cryptocurrency-blockchain"]
	path = cryptocurrency-blockchain
	url = https://github.com/MaxWainer/cryptocurrency-blockchain
[submodule "cryptocurrency-miner"]
	path = cryptocurrency-miner
	url = https://github.com/MaxWainer/cryptocurrency-miner
[submodule "cryptocurrency-backend"]
	path = cryptocurrency-backend
	url = https://github.com/MaxWainer/cryptocurrency-backend
